.layout-section {
  background-color: white;
  height: 95%;

  .action-bar {
    padding-top: 1rem; 
    background-color: rgb(34, 34, 34);
    height: 10%;
    .container {
      padding: 0.5rem;
    }
  }  
}



