<section class="layout-section">
    <div class="action-bar">
      <div class="container">
          <div class="row">
            <div class="col col-10">
                <form (ngSubmit) = "search()">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" [(ngModel)]="title" name="jobTitle" id="inputTitle" placeholder="Title">
                          </div>
                          <div class="form-group col-md-5">
                              <input type="text" class="form-control" id="inputCompany" [(ngModel)]="company" name = "companyName" placeholder="Company">
                          </div>
                          <div class="form-group col-md-1">
                            <button type="submit" class="btn btn-primary">Search</button>
                          </div>
                    </div>
                </form>
            </div>
            <div class="col col-2">
              <button type="button" routerLink="/jobs/new" class="btn btn-primary float-right">Create Job</button>
            </div>
          </div>
      </div>
    </div>
    <div class="container pt-5">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Post Date</th>
                <th scope="col">Applied Date</th>
                <th scope="col">Company</th>
                <th scope="col">Location</th>
                <th scope="col">Recuriter</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let j of jobs; let i = index">
                <th scope="row">{{i + 1}}</th>
                <td>{{j.title}}</td>
                <td>{{j.postDate | date}}</td>
                <td>{{j.appliedDate | date}}</td>
                <td>{{j.company.name | capitalize}}</td>
                <td>{{j.company.location.city}}, {{j.company.location.state}} {{j.company.location.zipCode}}</td>
                <td>{{j.recruiter.name}}</td>
              </tr>              
            </tbody>
          </table>
    </div>
</section>
