<section class="layout-section">
  <form (ngSubmit)="saveJob()">
    <div class="container pt-5">
      <ngb-tabset>
        <ngb-tab title="Job Information">
          <ng-template ngbTabContent>
              <div class="form-group">
                  <label for="inputTitle">Title</label>
                  <input type="text" class="form-control" [(ngModel)]="job.title" name="jobTitle" id="inputTitle" placeholder="Title">
              </div>                  
              <div class="form-row">
                  <div class="form-group col-md-6">
                      <label for="inputPostDate">Post Date</label>
                        <div class="input-group">
                          <input class="form-control" placeholder="Post Date"
                                  name="dpPostDate" [(ngModel)]="modelPostDate" ngbDatepicker #d="ngbDatepicker">
                          <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                              <img src="assets/calendar.svg" class="datepicker-icon"/>
                            </button>
                          </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputAppliedDate">Applied Date</label>
                      <div class="input-group">
                          <input class="form-control" placeholder="Applied Date"
                                  name="dpAppliedDate" [(ngModel)]="modelAppliedDate" ngbDatepicker #d1="ngbDatepicker">
                          <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button">
                              <img src="assets/calendar.svg" class="datepicker-icon"/>
                            </button>
                          </div>
                        </div>
                    </div>
              </div>
                
                <div class="form-group">
                  <label for="inputUrl">URL</label>
                  <input type="text" class="form-control" id="inputUrl" [(ngModel)]="job.url"
                    name="jobUrl" placeholder="URL">
                </div>
                <div class="form-group">
                    <label for="inputComany">Company</label>
                    <input type="text" class="form-control" id="inputCompany" [(ngModel)]="job.company.name"
                      name = "companyName" placeholder="Company">
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputCity">City</label>
                    <input type="text" placeholder="City" class="form-control" id="inputCity"
                      [(ngModel)] = "job.company.location.city" name = "city">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputState">State</label>
                    <input type="text" placeholder="State" class="form-control" id="inputState"
                      [(ngModel)] = "job.company.location.state" name = "state">
                  </div>
                  <div class="form-group col-md-2">
                    <label for="inputZip">Zip</label>
                    <input type="text" placeholder="Zip" class="form-control" id="inputZip"
                      [(ngModel)]="job.company.location.zipCode" name="zipCode">
                  </div>
                </div>               
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>Recruiter Contact</ng-template>
          <ng-template ngbTabContent>
              <div class="form-group">
                  <label for="inputName">Name</label>
                  <input type="text" class="form-control" id="inputName" placeholder="Name"
                    [(ngModel)]="job.recruiter.name" name="recruiterName">
              </div>  
              <div class="form-group">
                <label for="inputRecruiterTitle">Title</label>
                <input type="text" class="form-control" id="inputRecruiterTitle" placeholder="Title"
                  [(ngModel)]="job.recruiter.title" name="recruiterTitle">
              </div>
              <div class="form-group">
                  <label for="inputRecruiterCompany">Company</label>
                  <input type="text" class="form-control" id="inputRecruiterCompany" placeholder="Company"
                    [(ngModel)]="job.recruiter.company" name="recruiterCompany">
              </div>
              <div class="form-group">
                  <label for="inputPhone">Phone</label>
                  <input type="text" class="form-control" id="inputPhone" placeholder="Phone"
                    [(ngModel)]="job.recruiter.phone" name="phone">
              </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
    <div class="container mt-5">
      <div class="row">
        <div class="col">
          <button type="button" routerLink="/jobs" class="btn btn-primary">Cancel</button>
        </div>
        <div class="col">
          <button type="submit" class="btn btn-primary float-right">Save Job</button>
        </div>
      </div>
    </div>
  </form>
  
</section>
